@model HAMWeb.Models.Assets

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrawingsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrawingsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetServiceCompany1Navigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetServiceCompany1Navigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryAssetNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryAssetNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationAssetNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationAssetNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
